<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
      <form action="/register" method="POST">
    <div id="registerPage" class="login-box ">
  <h2>Register</h2>
    <input type="text" id="regEmail" name="username" placeholder="Name"><br>
  <input type="text" id="regEmail" name="email" placeholder="Email"><br>
  <input type="password" id="regPass" name="password" placeholder="Password"><br>
  <button type="submit">Register</button>
  <p style="text-align:center">Already have an account? <a href="/home" >Login</a></p>
  <p id="regError" style="color:red"></p>
  </div>

  </form>
</body>
</html>